# .github/workflows/git-sync.yml

on: push
jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: git-sync
        uses: wei/git-sync@v3
        with:
          source_repo: "rikard-swahn/barney.git"
          source_branch: "master"
          destination_repo: "rikard-swahn/barney-mirror.git"
          destination_branch: "master"
          source_ssh_private_key: ${{ secrets.SYNC_SOURCE_SSH_PRIVATE_KEY }} # optional, will override `SSH_PRIVATE_KEY`
          destination_ssh_private_key: ${{ secrets.SYNC_SSH_PRIVATE_KEY }} # optional, will override `SSH_PRIVATE_KEY`
